<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>codemash</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="app/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="app/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="app/favicon-16x16.png"
    />
    <link rel="manifest" href="app/site.webmanifest" />
    <link rel="mask-icon" href="app/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.7/beautify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.7/beautify-css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.7/beautify-html.min.js"></script>
    <script
      src="https://kit.fontawesome.com/03f657a0b0.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script></script>
  </head>
  <style>
    .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
    }

    .card {
      width: 45%;
      margin: 0px 10px;
      display: hidden;
      position: relative;
    }

    .hot-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 25rem;
      color: #e25822;
      z-index: 99;
      display: none;
    }

    .hot {
    }

    .not {
      background: #ff6263;
    }

    pre {
    }

    code {
      min-height: 50vh;
      white-space: pre; /* Since CSS 2.1 */
      white-space: -moz-pre; /* Mozilla, since 1999 */
      white-space: -pre; /* Opera 4-6 */
      white-space: -o-pre; /* Opera 7 */
    }
  </style>
  <body onload="hightlightElements()">
    {% include 'app/nav.html' %}
    <div
      class="fixed bottom-0 p-4 m-4 bg-blue-500 text-white flex"
      id="toaster"
    >
      <p class="text-center flex-1">
        Tip: Use Left and Right keys to select a Card.
        <i id="close-toaster" class="fa fa-times" aria-hidden="true"></i>
      </p>
    </div>

    <div class="card-container">
      <div class="card" onclick="select_card(this)" id="{{snippet_one.id}}">
        <pre id="code">
				<code>{{snippet_one.code}}</code>
				</pre
        >
        <div id="left" class="hot-icon">
          <i class="fa-solid fa-fire"></i>
        </div>
      </div>
      <div class="card" onclick="select_card(this)" id="{{snippet_two.id}}">
        <pre id="code">
				<code>{{snippet_two.code}}</code>
				</pre
        >

        <div id="right" class="hot-icon">
          <i class="fa-solid fa-fire"></i>
        </div>
      </div>
    </div>
  </body>

  <script>
    var selected = false;
    var closeButton = document.getElementById("close-toaster");
    var toaster = document.getElementById("toaster");
    window.onload = function () {
      hljs.highlightAll();
    };

    closeButton.addEventListener("click", function () {
      toaster.classList.add("hidden");
    });

    function update_snippets(data) {
      const url = window.location.href;
      if (selected) return false;

      selected = true;
      fetch(`${url}snippet/update/`, {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((response_data) => {
          hot = response_data.hot;
          not = response_data.not;

          const hot_id = `#${CSS.escape(hot.id)}`;
          const not_id = `#${CSS.escape(not.id)}`;

          const hot_el = document.querySelector(hot_id);
          const not_el = document.querySelector(not_id);

          if (hot.score >= not.score) {
            hot_el
              .getElementsByTagName("pre")[0]
              .parentElement.querySelector(".hot-icon").style.display = "block";
          } else {
            not_el
              .getElementsByTagName("pre")[0]
              .parentElement.querySelector(".hot-icon").style.display = "block";
          }
        })
        .then(() => {
          setTimeout(() => {
            location.reload();
          }, 300);
        })
        .catch((error) => console.error(error));
    }

    function select_card(e) {
      if (!selected) {
        const cards = document.querySelectorAll(".card");
        const data = {
          hot: e.id,
          not: e.id == cards[0].id ? cards[1].id : cards[0].id,
        };
        update_snippets(data);
      }
    }
    document.addEventListener("keydown", function (event) {
      if (event.keyCode === 37) {
        // Left arrow key pressed
        leftKeyPressed();
        return true;
      } else if (event.keyCode === 39) {
        // Right arrow key pressed
        rightKeyPressed();
        return true;
      }
    });

    function leftKeyPressed() {
      const cards = document.querySelectorAll(".card");
      const data = {
        hot: cards[0].id,
        not: cards[1].id,
      };

      update_snippets(data);
    }

    function rightKeyPressed() {
      const cards = document.querySelectorAll(".card");
      const data = {
        hot: cards[1].id,
        not: cards[0].id,
      };

      update_snippets(data);
    }
  </script>
</html>
